   body {
                        margin: 20px;
                       font-family: 'Inter', apple-system, sans-serif;
                        height: 100vh;
                        background: radial-gradient(circle at center, #132d45, #061727);


                }

                .profile-image {
                        width: 130px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 4px solid #2da6d9; 
                        box-shadow: 0 0 15px rgba(24, 73, 92, 0.3);
                        height: 140px;

                }

                .card {

                        padding: 20px;
                        display: block;
                        width: 300px;
                        margin: 30px auto;
                        text-align: center;
                        justify-content: space-around;
                        background-color: #083445;
                        color: rgb(255, 249, 249);
                        border-radius: 20px;
                       
                }

                .title {
                        margin-top: 10px;
                }
                .card:hover {
                        transition: all 0.3s ease;
                        box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.6);
                        transform: translateY(-10px) scale(1.02 );
                }
               .title h3 {
                font-size: 1.3rem;
                margin: 0;
               }
               .title p {
                color: #38bdf8;
                font-size: 1.1rem;
                margin: 8px 0 25px 0;
                font-weight: 600;
               }
               .title h4, .title h5 {
                font-weight: 300;
                color: #9fb3c8;
                margin: 5px 0;
               }